@font-face {
    font-family: Quicksand-light;
    src: url("../source/static/Quicksand-Light.ttf");
}
::placeholder{
    color: #FFFFFF;
}
.form{
    font-family: Quicksand-light;
    text-align: center;
    align-items: center;
    width: 1140px;
    height: 700px;
    margin: 0 127px 0 127px;
}
.contact{
    float: left;
    width: 515px;
    height: 720px;
}
.contact .section-title{
    margin-left: -28px;
}
.contact .section-title h2{
    color: #69B3E3;
    margin-top: 40px;
    height: 52px;
    font-size: 40;
    display: block;
    text-align: center;
    margin-left: 60px;
}
.contact .section-title p{
    text-align: left;
    line-height: 32px;
    color: #5b5252;
    margin-bottom: 15px;
    display: block;
    height: 96px;
    width: 515px;
    margin-left: 60px;
}
.contact-form{
    background-color: #90CEF1;
    padding: 40px;
    display: block;
    border-radius: 34px;
    float: right;
    width: 515px;
    height: 680px;
    color: white;
}
.contact-form .form-email h3{
    line-height: 37.5px;
    font-size: 30px;
}
.contact-form .form-email p{
    width: 420px;
    height: 64px;
    margin-top: 16px;
}
.contact-form ul li{
    list-style-type: none;
    border-radius: 15px;
    height: 56px;
    text-align: center;
}
.contact-form ul li input{
    width: 440px;
    color: #FFFFFF;
}
.contact-form ul li input, textarea:focus{
    outline: none;
}
.contact-form input{
    background-color: #90CEF1;
    border-radius: 15px;
    height: 56px;
    display: block;
    padding: 12px 20px 12px 20px;
    max-width: 100%;
    line-height: 25.6px;
    margin-top: 30px;
    border: 1px solid #FFFFFF;
}
.contact-form textarea{
    background-color: #90CEF1;
    border-radius: 15px;
    height: 120px;
    display: block;
    padding: 12px 20px 12px 20px;
    max-width: 100%;
    line-height: 25.6px;
    margin-top: 30px;
    border: 1px solid #FFFFFF;
    width: 515px;
}
.contact .contact-item{
    display: inline-block;
    width: 253px;
    height: 152px;
    margin-top: 80px;
}
.contact .contact-item svg{
    color: #69B3E3;
}
.contact .contact-item ul li{
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    padding: 2px 0 2px 0;
}
.contact .contact-item .address{
    float: left;
}
.contact .contact-item .time{
    float: right;
    margin-top: -60px;
    position: relative;
}
.container iframe{
    width: 100%;
}
.form-email button{
    margin-top: 100px;
    background-color: #24ACF5;
    border-radius: 10px;
    border: none;
    width: 120px;
    height: 52px;
    color: white;
}
