
@font-face {
    font-family: Quicksand-light;
    src: url("../source/static/Quicksand-Light.ttf");
}
body{
    font-weight: 400;
    font-family: Roboto, sans-serif;
    background-color: #fbfbfbfb;
    overflow-x: hidden;
}

/*Header Style*/
.header-second{
    margin-right: 240px;
    margin-left: 300px;
    border: none;
    margin-bottom: -12px;
}
.collapse{
    line-height: 32px;
    margin-left: 160px;
    margin-right: 200px;
}
form input{
    margin-top: 6px;
    border-right: none;
    border-radius: 0;
    margin-left: 20px;
}
.nav-item{
    margin-right: 30px;
}
.user, .cart{
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.dropdown:hover .dropdown-menu{
    display: block;
    top: 32px;
}
@keyframes In {
    from {top: 100px} to {top: 32px}
}
.dropdown-menu{
    animation: In 500ms;
    position: relative;
    transition: all ease-in 0.5s;
    border: none;
    background-color: #fafcf9;
}
.dropdown-item:hover{
    border-bottom: #577C8A 1px solid;
    color: #577C8A;
    transition: all ease-in 0.5s;
    background-color: #fafcf9;
}
.inner-header{
    margin-bottom: 50px;
}
.header-top {
    font-family: Roboto, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    height: 40px;
    color: #fafcf9;
    background-color: #293341;
}

.header-top .ht-right{
    float: right;
    font-size: 16px;
    padding-right: 13px;
    padding-top: 8px;
}
.header-top .ht-left {
    float: left;
    margin-left: -60px;
}

.header-top .ht-left .mail-service {
    font-size: 16px;
    float: left;
    border-right: 1px solid #E5E5E5;
    padding-top: 7px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.header-top .ht-left .mail-service i {
    margin-right: 5px;
}
.header-top .ht-left .phone-service {
    float: right;
    font-size: 16px;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 20px;
}
/*Nav*/
.nav-item{
    width: 110px;
    margin-bottom: -10px;
}
/*---------*/

/*Footer Style*/
footer{
    margin-bottom: -100px;
    clear: both;
    padding-top: 50px;
    font-weight: 450;
    background-color: #f6f6f6;
    font-family: Roboto, sans-serif;
    height: 500px;
}
footer .col{
    height: 320px;
    margin-top: 22px;
}
footer .col ul li{
    color: #707070;
    line-height: 24px;
    list-style-type: none;
    font-size: 15px;
    padding-top: 15px;
}
footer a:hover{
    text-decoration: none;
    color: #577C8A;
    transition: all ease-in-out 0.4s;
}
footer a{
    color: #80817f;
}
.footer-section {
    bottom: 0;
}
.col-lg-2 h5{
    margin-bottom: 10px;
}
.footer-section {
    padding-left: -40px;
}
.footer-section ul li{
    margin-right: 20px;
}
.footer-section .logofooter{
    margin-left: 60px;
}
.right{
    border-left: #e3e3e3 1px solid;
}
.center{
    width: 414px;
    border-left: #e3e3e3 1px solid;
    display: block;
}
.left {
    margin-left: -150px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 552px;
    display: block;
}
.left ul li{
    margin-top: 0px;
}
.head-list{
    display: block;
    height: 24px;
    padding-top: 60px;
    color: #707070;
    font-size: 13px;
    font-weight: 700;
}
.left ul li:hover{
    color: #577C8A;
    transition: all ease-in-out 0.4s;
}
.left .slogan{
    color: #353535;
    font-size: 16px;
    font-weight: 650;
    line-height: 24px;
    height: 24px;
    margin: 13px 0 20px 0;
}
.footer-section .newslatter-item{
    margin-left: -160px;
}

.left ul li {
    list-style: none;
    color: #80817f;
    font-size: 16px;
    line-height: 30px;
}

.left .footer-social {
    padding-top: 10px;
}

.left .footer-social a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #80817f;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 7px;
    position: relative;
    z-index: 1;
}

.left .footer-social a:hover:before {
    opacity: 1;
}

.left .footer-social a:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #577C8A;
    content: "";
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
}
.logofooter {
    margin-left: 250px;
}
/*------------*/

/*Body Style*/
.slide1 .carousel{
    margin-left: 90px;
    width: 880px;
    margin-right: 10px;
    float: left;
}
.slide1 img{
    margin-top: 12px;
}
.feedback {
    margin-top: 20px;
    overflow: hidden;
    margin-left: 45px;
    margin-bottom: 28px;
}
.feedback .col a{
    text-decoration: none;
    color: black;
}
.feedback .feedback2, .feedback .feedback3, .feedback .feedback1{
    transition: all 0.6s;
}
.feedback .feedback2:hover, .feedback .feedback3:hover, .feedback .feedback1:hover {
    transform: scale(1.05);
}
.feedback .feedback3{
    z-index: 4;
    position: relative;
}
.feedback .toy-brand{
    position: absolute;
    padding-top: 320px;
    padding-left: 145px;
    z-index: 5;
    color: black;
}
.feedback .toy-brand p{
    text-align: center;
    border-bottom: black 2px solid;
    width: 100px;
    cursor: pointer;
}
.feedback .toy-brand p:hover{
    color: #577C8A;
    border-bottom: #577C8A 2px solid;
    transition: all ease-in-out 0.4s;
}
.feedback .hygiene-brand p{
    margin-left: 60px;
    border-bottom: black 2px solid;
    width: 100px;
    cursor: pointer;
}
.feedback .hygiene-brand p:hover{
    color: #577C8A;
    border-bottom: #577C8A 2px solid;
    transition: all ease-in-out 0.4s;
}
.feedback .hygiene-brand{
    position: absolute;
    padding-top: 320px;
    padding-left: 90px;
    z-index: 5;
    color: black;
}
.image{
    height: 300px;
    padding-bottom: 200px;
}
.one img{
    width: 780px;
    transition: all 0.3s;
}
.one:hover img{
    transform: scale(1.03);
}

.two img{
    width: 780px;
    transition: all 0.3s;
}
.two:hover img{
    transform: scale(1.03);
}

.carousel-caption{
    color: #404040;
}
.carousel-indicators button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.carousel-indicators button:hover{
    color: #577C8A;
    transition: all ease-in-out 0.2s;
}
.new-arrival{
    margin-top: 20px;
    text-align: center;
    background-color: #F4F4F4;
    margin-bottom: 50px;
    height: 760px;
}
.new-arrival .title{
    margin-bottom: 40px;
    padding-top: 60px;
    padding-bottom: 40px;
}
.new-arrival .card{
    margin-right: 40px;
    margin-left: 50px;
    border: 0px;
    height: 430px;
    cursor: pointer;
}
.new-arrival .carousel-item a{
    text-decoration: none;
    color: #5b5252;
}
.best-seller .card{
    border: none;
    background-color: #F3F3F3;
    width: 320px;
    margin-left: 30px;
    height: 360px;
}
.best-seller .card:hover{
    transition: ease-in-out 0.3s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}
.best-seller .row{
    margin-bottom: 20px;
}
.best-seller .card-body{
    font-weight: 650;
    position: absolute;
    margin-top: 230px;
    text-align: center;
}
.best-seller .card-text1{
    font-weight: 500;
    font-size: 16px;
    font-family: Quicksand-light;
}
.best-seller .card-text{
    font-weight: 550;
    color: #2992D7;
    font-size: 18px;
}
.best-seller .quick-view-wrap a{
    font-size: 20px;
    text-decoration: none;
}
.best-seller i.quick-view-icon{
    margin-left: 20px;
}
.best-seller i.compare-icon{
    padding-left: 24px;
}
.click{
    margin-bottom: -60px;
}
.more{
    margin-bottom: -140px;
    border-radius: 0;
    background-color: #EBEAE8;
    border:#577C8A 1px solid;
    color: #577C8A;
    transition: ease-in 0.4s;
}
.more1{
    border-radius: 0;
    background-color: #fbfbfb;
    border:#577C8A 1px solid;
    color: #577C8A;
    transition: ease-in 0.4s;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 675px;
}
.new-arrival .card-body{
    border-top: black 1px solid;
    background-color: white;
    text-align: left;
    margin-left: -12px;
}
.none{
    margin-top: 70px;
    z-index: -9999;
}
.best-seller .title{
    margin-bottom: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.onee{
    margin-bottom: 30px;
}
.twoo{
    margin-bottom: 40px;
}
.see-more{
    text-align: center;
}
.btn{
    text-align: center;
    border: #577C8A 1px solid;
}
.see-more .btn:hover{
    color: white;
    background-color: #577C8A;
    transition: all ease-in-out 0.4s;
}
.select{
    height: 40px;
    width: 200px;
    color: white;
    background-color: #80817f;
    border: 1px solid #80817f;
}
.select:hover{
    background-color: #577C8A;
    transition: all ease-in-out 0.3s;
    border: #577C8A;
}
.end-index{
    text-align: center;
}
.body .body-sub {
    margin-bottom: 48px;
}
#form-sub {
    width: 560px;
    margin: 0 auto;
    position: relative;
}
#input-sub {
    height: 50px;
    width: 100%;
    border-radius: 50px;
    border: 1px solid #1da1f2;
    padding: 0 24px;
    outline: none;
}
#btn-sub {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4.2px;
    background-color: #53c1ec;
    border-radius: 40px;
    height: 40px;
    font-weight: 500;
    color: white;
    font-weight: 650;
    font-family: Quicksand-light;
    border: #69B3E3 1px solid;
}
.div-sub {
    margin-top: 24px;
    margin-bottom: 20px;
}
.container .align-items-start{
    margin-left: 35px;
}
.onee .card, .twoo .card{
    border: none;
    background-color: #fafcf9;
    border-radius: 30px;
    height: 450px;
    cursor: pointer;
}
.best-seller-item{
    background-color: white;
    height: 1100px;
}
@-webkit-keyframes move-to-right {
    to{left: 0;position: relative;opacity: 1;}
    from{left:-100px; position: relative;opacity: 1;}
}
.card-body{
    position: relative;
}
.animate{
    width: 250px;
    display: none;
}
.card:hover .animate{
    position: absolute;
    animation: move-to-right 400ms;
    display: block;
}
.card{
    overflow: hidden;
}
.end1{
    float: left;
}
.nav-item{
    color: black !important;
}
.department{
    height: 242px;
    border-radius: 0;
}
.department .dropdown-item{
    line-height: 38px;
    border-bottom: gainsboro 0.5px solid;
    width: 278px;
}
.tool{
    margin-left: 180px;
}
.tool .row .col .card{
    background-color: #fafcf9;
    cursor: pointer;
    position: relative;
    border: none;
    width: 120px;
}
.tool .row .col .card .card-body{
    margin-left: -12px;
}
.tool .row .col .card img{
    width: 65%;
}
.tool .row .col .card:hover{

}
.notify .row .col .card{
    border: none;
    background-color: #fafcf9;
}
/*Icon Style*/
.icon i .quick-view-icon{
    margin-left: -120px;
}
.icon i .compare-icon{
    margin-left: -50px;
}
.img-content{
    margin-left: 80px;
}
/*--------*/
/*Text-Blog*/
.text-blog{
    padding-top: 100px;
    font-family: Quicksand-light;
    width: 400px;
    float: right;
    margin-right: 340px;
    color: #5b5252;
    font-size: 18px;
    font-weight: 150;
}
/*---*/
/*To-top style*/

.to-top:hover{
    border-color: #577C8A;
    transition: all ease-in-out 0.3s;
}
.to-top{
    float: right;
    padding-top:1.8em;
    display:inline-block;/* or block */
    text-decoration:none;
    transition:all .3s ease-out;
    position: sticky;
    bottom: 40px;
    right: 10px;
    color: #577C8A;
    z-index: 99;
}
.to-top:before{
    position:absolute;
    top:0;
    left:50%;
    margin-left:-.7em;
    line-height:1.3em;
    border-color:inherit;
    transition:transform .5s ease-in;
}
/*--------------*/