@font-face {
    font-family: Quicksand-light;
    src: url("../source/static/Quicksand-Light.ttf");
}
.main-content{
    font-family: Quicksand-light;
}
.main-content .content-title h3{
    color: #24ACF5;
}
.content-main-link a{
    border-radius: 15px;
    background-color: #69B3E3;
}
div.main-content-item {
    padding: 30px 0;
}
div.content-main a {
    background-color: lightskyblue;
    color: white;
    border: 1px solid lightskyblue;
    border-radius: 2px;
    text-decoration: none;
    padding: 3px;
}