body{
    background-color: #FFFFFF; !important;
}
section.header-section{
    background-color: #FFFFFF;
}
@font-face {
    font-family: Quicksand-light;
    src: url("../source/static/Quicksand-Light.ttf");
}
.breadcrumb-wrapper {
    background-color: #e9ecef;
    height: 200px;
    /*width: 1455px;*/
}
.page-top {
    text-align: center;
    align-items: center;
    top: 10px;
    height: 200px;
    margin-bottom: 10px;
    z-index: 4;
}
.seek{
    color: #e9ecef;
    font-size: 45px;
}
.breadcrumb {
    text-align: center;
    --bs-breadcrumb-divider: '/';
    align-items: center;
    margin: 0 auto;
    background-color: unset;
    margin-top: -10px;
}
.breadcrumb .breadcrumb-item a:hover{
    color: #6c757d;
}
.tbody{
    font-family: Quicksand-light;
    width: 1200px;
    margin: 0 157px 0 157px;
    padding: 0 30px 0 30px;
    display: block;
    color: #5b5252;
    height: 2000px;
}
.title{
    text-align: center;
    height: 345.1px;
    width: 949.987px;
    /*right: -94.9962px;*/
    /*left: 94.9875px;*/
    display: block;
    position: absolute;
    z-index: 9999;
    margin: 112px;
    color: white;
}
.title h5{
    font-weight: 500;
}
.title h3{
    height: 30px;
    font-weight: 700;
    font-size: 24px;
}
.title h1{
    font-size: 46px;
    line-height: 57.8px;
    font-weight: 700;
    height: 119.6px;
    width: 939.987px;
    display: block;
    text-align: center;
}
.tbody .main-blog-img{
    text-align: center;
    position: relative;
    border-radius: 20px;
    display: block;
    width: 1130px;
    height: 635.625px;
    opacity: 1;
}
.searchh{
    text-align: center;
    margin-top: 100px;
}
.searchh h1{
    font-weight: 650;
    color: #69B3E3;
}
.form-searching{
    text-align: center;
    display:flex;
    justify-content: center;
    background-color: #f1f1f1;
    width: 850px;
    border-radius: 20px;
    margin-left: 160px;
}
.form-searching input{
    width: 800px;
    height: 56px;
    border: none;
    background-color: #f1f1f1;
    position: relative;
}
.form-searching input:focus{
    outline: none;
}
.form-searching i{
    padding-top: 6px;
    background-color: #f1f1f1;
    position: relative;
    height: 46px;
    margin-left: -20px;
    z-index: 9999;
}
.all-tags{
    margin-left: 300px;
}
.all-tags ul li{
    margin-top: 30px;
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    border: #dadada 1px dashed;
    height: 56px;
    width: 128px;
    border-radius: 20px;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
}
.all-tags ul li:hover{
    border: #69B3E3 1px dashed;
}
.wrapper .head h3{
    margin-top: 60px;
    border-left: #69B3E3 3px solid;
    padding-left: 12px;
    font-weight: 650;
    color: #69B3E3;
}
.wrapper .section-head{
    height: 48px;
    border-bottom: 1px #dadada solid;
    margin-bottom: 460px;
}
.section-body .card h6{
    color: #5b5252;
    font-weight: 650;
}
.section-body .card h2{
    color: #69B3E3;
    font-weight: 650;
}
.section-body ul li{
    margin-top: 30px;
    list-style-type: none;
    display: inline-block;
    border-radius: 30px;
}
.section-body ul li:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all ease-in-out 0.4s;
}
.section-body a{
    text-decoration: none;
}
.section-body .card{
    border-radius: 15px;
}
