.breadcrumb-wrapper {
    background-color: #e9ecef;
    padding-top: 40px;
    margin-top: 12px;
    height: 200px;
    margin-left: 40px;
}
.breadcrumb-title {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
    margin-top: -16px;
}
.breadcrumb {
    text-align: center;
    --bs-breadcrumb-divider: '>';
    align-items: center;
    margin: 0 auto;
    background-color: unset;
    margin-top: -12px;
}
.breadcrumb li {
    font-size: 16px;
}
.sidebar-right {
    margin-top: 15px;
    border: 1px solid lightgrey;
    top: 20px;
    position: sticky;
    height: fit-content;
    width: 340px;
}
.sidebar-title {
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 550;
}
.sidebar-item {
    width: 90%;
    margin: 0 auto;
}
.sidebar-item-title {
    border-bottom: 1px solid lightgrey;
    margin: 20px 10px 0 10px;
    padding-bottom: 10px;
    font-weight: 550;
}
.sidebar-list-item, .list-group-item {
    margin: 20px 10px 0 10px;
    border-bottom: 1px solid lightgrey;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #fafcf9;
}
.sidebar-list-item a{
    color: #80817f;
    font-weight: 650;
}
.sidebar-list-item:hover >a{
    color: #24ACF5;
    transition: all ease-in-out 0.3s;
}
.sidebar-list-item .item-end {
    border-bottom: unset;
    margin: 0 10px 0 10px;
}
.product-details {
    padding-top: 30px;
}
span.price {
    font-weight: 500;
}
div.product-color-size-filter {
    margin-top: 15px;
}
div.color-picker button#pink {
    background-color: pink;
    margin-right: 10px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: unset;
}
div.color-picker button#green {
    background-color: green;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: unset;
}
div.color-picker button#blue{
    background-color: blue;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: unset;
}
div.size-picker {
    margin-top: 20px;
}
div.size-picker button#size1{
    background-color: white;
    margin-right: 10px;
    margin-left: 40px;
    width: fit-content;
    border-radius: unset;
    color: black;
    padding: 0 3px 0 3px;
}
div.size-picker button#size2{
    background-color: white;
    margin-right: 10px;
    width: fit-content;
    border-radius: unset;
    color: black;
    padding: 0 3px 0 3px;
}
div.size-picker button#size3{
    background-color: white;
    margin-right: 10px;
    width: fit-content;
    border-radius: unset;
    color: black;
    padding: 0 3px 0 3px;
}
div.add-to-cart {
    display: inline-block;
    float: left;
}
div.add-to-cart a{
    text-decoration: none;
}
div.add-to-cart div.quantity input {
    width: 50px;
    margin-top: 10px;
}
a.prd-link {
    margin-top: 20px;
    background-color: #69B3E3;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
div.product-sharing {
    margin-top: 20px;
}
div.product-description {
    margin-top: 30px;
    display: block;
}
div.product-description ul button.nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
div.product-description li.nav-item button:focus {
    outline: none;
}
.current-img-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.current-img {
    width: 450px;
    height: 450px;
    position: relative;
    overflow: hidden;
}
.pic-zoom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
div.same-product ul li {
    list-style-type: none;
    display: inline-block;
}
div.same-product ul li img {
    width: 100px;
    cursor: pointer;
    opacity: 0.4;
}
img.same-product-item:hover {
    opacity: 1;
    transform: scale(1.2);
}
.add-to-cart span{
    padding-left: 12px;
}
.add-to-cart button{
    padding: 4px 0 4px 0;
    line-height: 24px;
    width:40%;
    margin-top: 12px;
    border-radius: 10px;
    background-color: #69B3E3;
    color: white;
    border: white 1px solid;
}
.size button{
    line-height: 24px;
    width: 20%;
    padding-top: 4px;
    background-color: #69B3E3;
    color: white;
}