<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gile - Product details</title>
    <link rel="icon" href="../img-source/logo_id.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../css/header-footer-style.css">
    <link rel="stylesheet" href="../css/style-products-detail.css">
    <script src="../js/angular.min.js"></script>
</head>
<body>
<!--  Header  -->
<header style="margin-bottom: 14px;">
    <div class="header-top">
        <div class="container" style="margin-left: 160px;">
            <div class="ht-left">
                <div class="mail-service">
                    <i class="fa fa-envelope"></i>
                    nguyenkhanh08112003@gmail.com
                </div>
                <div class="phone-service">
                    <i class="fa fa-phone"></i>
                    0987.729.543
                </div>
            </div>
            <div class="ht-right" style="margin-right: 160px;">
                <p style="font-weight: 550;">Free shipping for orders over 100$++</p>
            </div>
        </div>
    </div>
    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid ">
            <a href="../index.html" style="margin-left: 20px;"><img width="400px" src="../img-source/logo_khổ_ngang%20(2).png" alt="..."/> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div style="border: #D3D2D0 1px solid" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 search">
                    <li style="width: 180px;padding-left: -20px;" class="nav-item dropdown">
                        <a class="nav-link" style="padding-left: 24px;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>All Category<svg style="font-size: 8px;margin-left: 8px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg></strong></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">One</a></li>
                            <li><a class="dropdown-item" href="#">Womans</a></li>
                            <li><a class="dropdown-item" href="#">Kids</a></li>
                            <li><a class="dropdown-item" href="#">OuterWear</a></li>
                        </ul>
                    </li>
                    <li>
                        <form class="d-flex">
                            <input style="margin-bottom: 8px;width: 294px;border-right: none;border-top: none;border-bottom: none; border-radius: 0;background-color: #fafcf9;border-left: black 1px solid;" class="form-control me-2" type="search" placeholder="What do you need ?" aria-label="Search">
                            <button type="button" style="border-radius: 0;background-color: #69B3E3;" class="btn btn-primary"><i style="width:28px; line-height: 37px;" class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                </ul>
            </div>
            <a href="../login.html"><svg style="margin-bottom: 16px;font-weight: 550;color: black;" xmlns="http://www.w3.org/2000/svg" width="32" fill="currentColor" class="bi bi-person user" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg></a>
            <a href="#"><svg style="margin-bottom: 16px;margin-left: 16px;margin-right: 40px;font-weight: 550;color: black;" xmlns="http://www.w3.org/2000/svg" width="28" fill="currentColor" class="bi bi-heart user" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg></a>
        </div>
    </nav>
    <div class="header-second sticky">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li style="width: 280px;margin-left: -345px;;padding-right: 20px;background-color: #69B3E3;" class="nav-item dropdown">
                        <a style="color: #E2F7FF;" class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><strong><svg style="margin-right: 8px;" xmlns="http://www.w3.org/2000/svg" width="28" fill="currentColor" class="bi bi-blockquote-right" viewBox="0 0 16 16">
                            <path d="M2.5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6zm0 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm10.113-5.373a6.59 6.59 0 0 0-.445-.275l.21-.352c.122.074.272.17.452.287.18.117.35.26.51.428.156.164.289.351.398.562.11.207.164.438.164.692 0 .36-.072.65-.216.873-.145.219-.385.328-.721.328-.215 0-.383-.07-.504-.211a.697.697 0 0 1-.188-.463c0-.23.07-.404.211-.521.137-.121.326-.182.569-.182h.281a1.686 1.686 0 0 0-.123-.498 1.379 1.379 0 0 0-.252-.37 1.94 1.94 0 0 0-.346-.298zm-2.168 0A6.59 6.59 0 0 0 10 6.352L10.21 6c.122.074.272.17.452.287.18.117.35.26.51.428.156.164.289.351.398.562.11.207.164.438.164.692 0 .36-.072.65-.216.873-.145.219-.385.328-.721.328-.215 0-.383-.07-.504-.211a.697.697 0 0 1-.188-.463c0-.23.07-.404.211-.521.137-.121.327-.182.569-.182h.281a1.749 1.749 0 0 0-.117-.492 1.402 1.402 0 0 0-.258-.375 1.94 1.94 0 0 0-.346-.3z"/>
                        </svg>All Department</strong></a>
                        <ul class="dropdown-menu department" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>Lastest</a></li>
                            <li><a class="dropdown-item" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>Popular</a></li>
                            <li><a class="dropdown-item" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>Appreciate</a></li>
                            <li><a class="dropdown-item" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>Best Seller</a></li>
                            <li><a class="dropdown-item" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>New Arrival</a></li>
                        </ul>
                    </li>
                    <li style="margin-left: 160px;" class="nav-item dropdown">
                        <a class="nav-link" href="../news-main.html" role="button" aria-expanded="false"><strong>News</strong></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>Product<svg style="font-size: 8px;margin-left: 8px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg></strong></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="../blog/main-blog.html">Baby care</a></li>
                            <li><a class="dropdown-item" href="../html-fashion/fashion.html">Fashion</a></li>
                            <li><a class="dropdown-item" href="../html-toys/toys.html">Toys</a></li>
                            <li><a class="dropdown-item" href="../html-wellness/html-wellness.html">Wellness & Hygiene</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>Brand<svg style="font-size: 8px;margin-left: 8px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg></strong></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="height: 200px;overflow-y: scroll;">
                            <li><a class="dropdown-item" href="../html-fashion/fashion.html"><strong>1. Fashion Brand</strong></a></li>
                            <li><a class="dropdown-item" href="../html-fashion/bu.html">BU Baby</a></li>
                            <li><a class="dropdown-item" href="../html-fashion/lullaby.html">Lullaby</a></li>
                            <li><a class="dropdown-item" href="../html-fashion/miomio-brand.html">Miomio</a></li>
                            <li><a class="dropdown-item" href="../html-fashion/carter.html">Carter's</a></li>
                            <li><a class="dropdown-item" href="../html-fashion/uala.html">Uala & Rogo</a></li>
                            <li><a class="dropdown-item" href="../html-fashion/nous.html">Nous</a></li>
                            <li><a class="dropdown-item" href="../html-toys/toys.html"><strong>2. Toys Brand</strong></a></li>
                            <li><a class="dropdown-item" href="../html-toys/hasbro.html">Hasbro</a></li>
                            <li><a class="dropdown-item" href="../html-toys/lego.html">Lego</a></li>
                            <li><a class="dropdown-item" href="../html-toys/mattel.html">Mattel</a></li>
                            <li><a class="dropdown-item" href="../html-toys/summer.html">Summer Infant</a></li>
                            <li><a class="dropdown-item" href="../html-toys/schlein.html">Schlein</a></li>
                            <li><a class="dropdown-item" href="../html-toys/takara.html">Takara Tomy</a></li>
                            <li><a class="dropdown-item" href="../html-wellness/html-wellness.html"><strong>3. Wellness & Hygiene Brand</strong></a></li>
                            <li><a class="dropdown-item" href="../html-wellness/huggies.html">Huggies</a></li>
                            <li><a class="dropdown-item" href="../html-wellness/chico.html">Chicco</a></li>
                            <li><a class="dropdown-item" href="../html-wellness/goon.html">Goon</a></li>
                            <li><a class="dropdown-item" href="../html-wellness/bobo.html">Bobo Choses</a></li>
                            <li><a class="dropdown-item" href="../html-wellness/zara.html">Zara Kids</a></li>
                            <li><a class="dropdown-item" href="../html-wellness/nanys.html">Nannys</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>Store<svg style="font-size: 8px;margin-left: 8px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg></strong></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="../contact-us-hn.html">Ha Noi</a></li>
                            <li><a class="dropdown-item" href="../contact-us-hcm.html">Ho Chi Minh</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="../blog/main-blog.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>Blog</strong></a>
                    </li>
                    <li class="nav-item dropdown" style="margin-left: 80px">
                        <a class="cart" style="font-weight: 550;color: black;" href="../cart.html"><svg xmlns="http://www.w3.org/2000/svg" width="32" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!--  Breadcrumb -->
<div class="page-top">
    <div class="breadcrumb-wrapper">
        <h2 class="seek">.</h2>
        <div class="breadcrumb-title">
            <h2 class="page-title"><strong> Product Details </strong></h2>
        </div>
        <nav class="breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../index.html" style="color: #24ACF5"><strong>Home</strong></a></li>
                <li class="breadcrumb-item"><a href="../html-fashion/fashion.html" style="color: #24ACF5"><strong>Fashion Brand</strong></a></li>
                <li class="breadcrumb-item active" aria-current="page"><strong>Gile</strong></li>
            </ol>
        </nav>
    </div>
</div>
<!--Main-->
<div class="container-fluid" style="max-width: 1250px;margin-left: 100px;">
    <div class="row">
        <!--            main-content-->
        <div class="col-lg-9">
            <div class="row">
                <!--                    product's image-thumbnail-->
                <div class="col-lg-6 col-sm-6">
                    <div class="product-img">
                        <div class="current-img-wrap">
                            <div class="current-img">
                                <img src="../img-source/best6.jpg" class="img-fluid pic-zoom" id="pic-main" alt="">
                            </div>
                        </div>
                        <div class="same-product-wrap">
                            <div class="same-product">
                                <ul>
                                    <li><img src="../img-source/best5.jpg" onclick="changeImg('one')" class="same-product-item" id="one" alt=""></li>
                                    <li><img src="../img-source/best7.jpg" onclick="changeImg('two')" class="same-product-item" id="two" alt=""></li>
                                    <li><img src="../img-source/best8.jpg" onclick="changeImg('three')" class="same-product-item" id="three" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                    product's details -->
                <div class="col-lg-6 col-sm-6">
                    <div class="product-details row">
                        <div class="product-price">
                            <span>Product Name:<strong> Gile 2 layer pink of rabits</strong></span>
                            <span>Price: </span>
                            <span class="price">5,49$</span>
                        </div>
                        <div class="product-color-size-filter">
                            <form action="#" method="get">
                                <div class="color-picker btn-group" aria-label="color-picker">
                                    <span>Color: </span>
                                    <button type="button" class="btn btn-primary" id="pink"></button>
                                    <button type="button" class="btn btn-primary" id="green"></button>
                                    <button type="button" class="btn btn-primary" id="blue"></button>
                                </div>
                                <br>
                                <div class="size-picker btn-group size" role="group" aria-label="size-picker">
                                    <span>Size: </span>
                                    <button type="button" class="btn btn-primary" id="size1">
                                        <label for="size1">1-3M</label>
                                    </button>
                                    <button type="button" class="btn btn-primary" id="size2">
                                        <label for="size2">4-6M</label>
                                    </button>
                                    <button type="button" class="btn btn-primary" id="size3">
                                        <label for="size3">6M-12M</label>
                                    </button>
                                </div>
                                <div class="add-to-cart">
                                    <div class="quantity" ng-app="myApp" ng-controller="myCtrl">
                                        <input type="number" id="quantity_sanpham1" class="input-text" min="0" max="" step="1" name="quantity" value="0" ng-model="qty" ng-click="Calc()">
                                        <span> Total Price: {{total | currency: 'VND '}}</span>
                                    </div>
                                    <br>
                                    <div class="prd-link-wrap">
                                        <a href="../pay-form.html" class="prd-link">Buy now</a>
                                        <a href="../cart.html" class="prd-link">Add to cart</a>
                                    </div></br></br>
                                    <p><a href="https://docs.google.com/document/d/1VMlVMnUnjdRy3uwCop3Cs7xvqSHaOxn2/edit"><strong>Product introduction:</strong></a></br>
                                        - Brand name: Miomio</br>
                                        - General introduction:</br>
                                        French Linen is a soft, lightweight material safe, safe from nature. The thick layer of Miomio's cotton helps to keep the optimal warm but has been squeezed to bring the most comfort.</br>
                                        - Product's name: Gile 2 layers of pink rabbits</br>
                                        - Material: Cotton</br>
                                        - Storage instructions: Wash clothes by hand</p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="product-sharing row">
                        <span>Share: </span>
                        <ul>
                            <li>
                                <a class="facebook-share" href="#" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="twitter-share" href="#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="instagram-share" href="#" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a class="pinterest-share" href="#" target="_blank">
                                    <i class="fab fa-pinterest"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--                    product's description-->
            <div class="product-description row">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Mô tả</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="more-info-tab" data-bs-toggle="tab" data-bs-target="#more-info" type="button" role="tab" aria-controls="more-info" aria-selected="false">Thông tin bổ sung</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="rating-tab" data-bs-toggle="tab" data-bs-target="#rating" type="button" role="tab" aria-controls="contact" aria-selected="false">Đánh giá</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                        <p><strong>Product introduction:</strong></br>
                            - Brand name: Miomio</br>
                            - General introduction:</br>
                            French Linen is a soft, lightweight material safe, safe from nature. The thick layer of Miomio's cotton helps to keep the optimal warm but has been squeezed to bring the most comfort.</br>
                            - Product's name: Gile 2 layers of pink rabbits</br>
                            - Material: Cotton</br>
                            - Storage instructions: Wash clothes by hand</p>
                    </div>
                    <div class="tab-pane fade" id="more-info" role="tabpanel" aria-labelledby="moreInfo-tab">
                        <p><strong>Description:</strong></br></br>
                            Linen Linen quilted cotton is a super thick, warm material for frozen prices. Keeping the ivory white with the original "carpentry" of the French Linen, Miomio delicate use of colorful embroidery and small bags to make the product eye-catching and more lively. The seams along the body's body helps cotton layers hold firmly so that the product is washable and still durable.</br></br>
                            Reference price list:</br></p>
                        <ul>
                            <li>Size 0-1M: 3-4Kg high 50-54cm</br></li>
                            <li>Size 1 – 3M: 4 – 5Kg high 54 – 62cm</br></li>
                            <li>Size 3 – 6M: 5 – 6Kg high 62 – 69cm</br></li>
                            <li>Size 6 – 9M: 5 – 6Kg high 69 – 72cm</br></li>
                            <li>Size 9 – 12M:  8Kg high 72 – 76cm</br></li>
                            <li>Size 12 – 18M: 10Kg high 76 – 83cm</br></li>
                            <li>Size 18M – 24M: 11-13Kg high 83-90cm</br></li>
                            <li>Size 3Y: 13-15Kg high 90-94cm</br></li>
                            <li>Size 4Y: 15-17Kg high 94-110cm</br></li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="rating" role="tabpanel" aria-labelledby="rating-tab">
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Your email</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your email">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label">Say something?</label>
                            <textarea rows="5" class="form-control" id="formGroupExampleInput2" placeholder="Say somethings?"></textarea>
                        </div>
                        <button type="button" class="btn btn-secondary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!--            sidebar-right-->
        <div class="sidebar-right col-lg-3">
            <div class="sidebar-right-wrapper">
                <h3 class="sidebar-title">Maybe you like</h3>
                <div class="sidebar-item">
                    <h5 class="sidebar-item-title">Product portfolio</h5>
                    <ul class="sidebar-list list-group">
                        <li class="sidebar-list-item list-group-item"><a href="#">Short-sleeved set</a></li>
                        <li class="sidebar-list-item list-group-item"><a href="#">Long-sleeved set</a></li>
                        <li class="sidebar-list-item list-group-item"><a href="#">Overalls</a></li>
                        <li class="sidebar-list-item list-group-item"><a href="#">Dress</a></li>
                        <li class="sidebar-list-item list-group-item"><a href="#">Jacket</a></li>
                        <li class="sidebar-list-item list-group-item"><a href="#">Accessory</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Footer  -->
<footer>
    <div class="container" style="border-bottom: #e3e3e3 1px solid;height: 420px;margin-left: 18px;">
        <div class="row">
            <div class="col" style="margin-top: -12px;">
                <div class="left">
                    <ul>
                        <li><img src="../img-source/logo_khổ_ngang%20(2).png" width="280px" alt="..."></li>
                        <li class="slogan">TINYTOTS MANUFACTURING & TRADING COMPANY LIMITED</li>
                        <li class="head-list">Headquarters :</li>
                        <li>India</li>
                        <li class="head-list" style="margin-top: -14px">TinyTots Hanoi Office :</li>
                        <li>No. 8A Ton That Thuyet, My Dinh, Nam Tu Liem, Hanoi, Vietnam</li>
                        <li class="head-list" style="margin-top: -14px">TinyTots HoChiMinh Office :</li>
                        <li>590 Cach Mang Thang 8, Ward 11, District 3, Ho Chi Minh City, Vietnam</li>
                        <li style="margin-top: -14px">Phone: 0987.729.543</li>
                        <li style="margin-top: -14px">Email: nguyenkhanh08112003@gmail.com</li>
                        <li style="margin-top: -14px">
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-facebook"></i> </a>
                                <a href="#"><i class="fab fa-instagram"></i> </a>
                                <a href="#"><i class="fab fa-twitter"></i> </a>
                                <a href="#"><i class="fab fa-pinterest"></i> </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="center">
                    <h5 style="margin-left: 20px"><strong>TinyTots</strong></h5>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Adress</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Franchise</a></li>
                        <li style="color: #f6f6f6">.</li>
                        <li style="color: #F6F6F6">.</li>
                        <li style="color: #F6F6F6">.</li>
                        <li style="color: #F6F6F6">.</li>
                        <li style="color: #F6F6F6">.</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="right">
                    <h5 style="margin-left: 20px"><strong>My Account</strong></h5>
                    <ul>
                        <li><a href="">My Account</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Shopping Cart</a></li>
                        <li><a href="">Check Out</a></li>
                        <li style="color: #F6F6F6">.</li>
                        <li style="color: #F6F6F6">.</li>
                        <li style="color: #F6F6F6">.</li>
                        <li style="color: #F6F6F6">.</li>
                        <li style="color: #F6F6F6">.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p style="text-align: center">© 2021 TinyTots - HaNoi Limited Company. All rights reserved. WordPress Theme : Zigcy Lite</p>
    </div>
</footer>
<a href="#" class="to-top"><i style="font-size: 40px" class="fas fa-caret-square-up"></i></a>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        $scope.price = 5.49;
        $scope.qty = 0;
        $scope.total = "";
        $scope.Calc = function() {
            $scope.total = $scope.qty * $scope.price;
        }
    });
</script>

<script src="../js/bootstrap.js"></script>
<script src="../js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="../js/products-detail.js"></script>
</body>
</html>